<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeHead</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>icon_goods0</string>
			<key>catName</key>
			<string>居家生活</string>
			<key>id</key>
			<string>102</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_goods1</string>
			<key>catName</key>
			<string>运动户外</string>
			<key>id</key>
			<string>103</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_goods2</string>
			<key>catName</key>
			<string>美食特产</string>
			<key>id</key>
			<string>104</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_goods3</string>
			<key>catName</key>
			<string>玩具</string>
			<key>id</key>
			<string>105</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_goods4</string>
			<key>catName</key>
			<string>家纺</string>
			<key>id</key>
			<string>106</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_goods5</string>
			<key>catName</key>
			<string>数码电子</string>
			<key>id</key>
			<string>107</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_goods6</string>
			<key>catName</key>
			<string>酒水饮料</string>
			<key>id</key>
			<string>117</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_goods7</string>
			<key>catName</key>
			<string>家用电器</string>
			<key>id</key>
			<string>120</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_goods8</string>
			<key>catName</key>
			<string>跨境商品</string>
			<key>id</key>
			<string>121</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_goods9</string>
			<key>catName</key>
			<string>个护化妆</string>
			<key>id</key>
			<string>122</string>
			<key>parentId</key>
			<string>0</string>
			<key>type</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
